@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Intro+Rust&display=swap');
@font-face {
    font-family: 'Intro Rust';
    src: url('/assets/fonts/IntroRust-Base.ttf') format('truetype'),
         url('/assets/fonts/IntroRust-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    display: grid;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    margin: 0;                
}
.section-container {
    @apply py-8 lg:px-20 flex items-center justify-center min-h-screen;
  }
  
/* Main container */
.main-container {
@apply sm:max-w-xs md:max-w-lg lg:max-w-7xl mx-auto flex flex-col md:flex-col lg:flex-row gap-12;
}

/* Left section */
.left-section {
    @apply lg:w-2/5;
    font-family: Montserrat;
}

/* Teal divider */
.teal-divider {
@apply w-11/12 h-5 bg-teal-800 mb-8 mx-auto;
}

/* Paragraph text */
.paragraph {
@apply px-5 lg:text-xl text-justify leading-7 leading-relaxed text-gray-700;
letter-spacing: 0em;
}

/* Unordered list */
.list {
@apply px-6 lg:text-xl text-justify  mt-4 list-disc list-inside space-y-2 text-gray-700;
font-style: italic;
letter-spacing: 0em;
}

/* Right section */
.right-section {
@apply lg:w-1/2 text-right;
}

/* Heading */
.heading {
@apply text-yellow-500 text-5xl lg:text-7xl font-bold leading-tight px-5;
font-family: 'Intro Rust';
}

/* Event year text */
.event-year {
@apply text-black font-bold lg:text-7xl text-5xl;
}

/* Description text */
.description {
@apply font-bold text-3xl;
}
/* Spacing adjustments */
.text-container {
@apply mt-6 mr-2 text-xl lg:text-3xl text-left lg:px-24;
font-family:Montserrat;
}